doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  title Express-cookies-session
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') Cookies
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.float-end
    ul.navbar-nav.me-auto.mb-2.mb-lg-0
      li.nav-item.me-5
        a.nav-link.active(aria-current='page' href='/') Home
      li.nav-item.me-3
        a.nav-link.active(aria-current='page' href='/delete') Delete 
.container.h-5.mt-3
  .justify-content-md-center.align-items-center.vh-50
    .div
        p.fs-5.border.border-3.p-2 #{visits} Visits
    .div 
        p.fs-5.border.border-3.p-2 Cookies Session:> #{cookies.session}